# Auto detect text files and perform LF normalization
* text=auto
*.dll linguist-vendored
Test_Data/* linguist-vendored
MonoBleedingEdge/* linguist-vendored
Test_BurstDebugInformation_DoNotShip/* linguist-vendored